<form [formGroup]="meterForm" (ngSubmit)="onSubmit()">
  
  <h3>Add Meter</h3>

  <label>
    Title:
    <input type="text" formControlName="title">
  </label>

  <label>
    Unit of Measurement:
    <input type="text" formControlName="uom">
  </label>

  <label>
    Upgrade Frequency:
    <input type="text" formControlName="upgradeFrequency">
  </label>

  <label>
    Category:
    <input type="text" formControlName="category">
  </label>

  <button>Manage Category(unfinished)</button>

  <label>
    Image:
    <input type="text" formControlName="image">
  </label>

  <label>
    Workers:
    <input type="text" formControlName="workers">
  </label>

  <label>
    Asset:
    <input type="text" formControlName="asset">
  </label>

  
<button type="submit">Submit</button>

</form>