<div class="app-header">
  <h2>
    {{title}}
    <span class="header-icons">
        <mat-menu #appMenu="matMenu" yPosition="below">
            <button mat-menu-item>a</button>
            <button mat-menu-item>b</button>
        </mat-menu>
        <button [matMenuTriggerFor]="appMenu"><i class="material-icons">help</i></button>
        <mat-menu #appMenu="matMenu" yPosition="below">
            <button mat-menu-item>a</button>
            <button mat-menu-item>b</button>
        </mat-menu>
        <button [matMenuTriggerFor]="appMenu"><i class="material-icons">notification_important</i></button>
        <mat-menu #appMenu="matMenu" yPosition="below">
            <button mat-menu-item>a</button>
            <button mat-menu-item>b</button>
        </mat-menu>
        <button [matMenuTriggerFor]="appMenu"><i class="material-icons">supervised_user_circle</i></button>
      
      
    </span>
  </h2>
</div>
