<app-header [title]="title"></app-header>
<ul>
    <li>
        <a routerLink="/workorderreq">Work Order Request Form</a>
    </li>
    <li>
        <a routerLink="/requests">Requests</a>
    </li>
    <li>
        <a routerLink="/location">Location</a>
    </li>
    <li>
        <a routerLink="/asset">Asset</a>
    </li>
    <li>
        <a routerLink="/partsinventory">Parts Inventory</a>
    </li>
    <li>
        <a routerLink="/purchaseorder">Purchase Order (unfinished)</a>
    </li>
    <li>
        <a routerLink="/inviteuser">Invite User</a>
    </li>
    <li>
        <a routerLink="/vendor">Vendor</a>
    </li>
    <li>
        <a routerLink="/categories">Categories</a>
    </li>
</ul>
