<form [formGroup]="partsInventoryForm" (ngSubmit)="onSubmit()">
  
  <h3>Add Parts Inventory</h3>

  <label>
    Title:
    <input type="text" formControlName="title">
  </label>

  <label>
    Description:
    <input type="text" formControlName="desc">
  </label>

  <label>
    Category:
    <input type="text" formControlName="category">
  </label>

  <label>
    Cost:
    <input type="text" formControlName="cost">
  </label>

  <label>
    Quantity:
    <input type="text" formControlName="quantity">
  </label>

  <label>
    Minimum Quantity:
    <input type="text" formControlName="minQuantity">
  </label>

  <label>
    Non-Stock:
    <input type="text" formControlName="nonStock">
  </label>

  <label>
    Barcode:
    <input type="text" formControlName="barcode">
  </label>

  <label>
    Area:
    <input type="text" formControlName="area">
  </label>

  <label>
    Add Part Details:
    <input type="text" formControlName="addPartDetails">
  </label>

  <label>
    Workers:
    <input type="text" formControlName="workers">
  </label>

  <label>
    Teams:
    <input type="text" formControlName="teams">
  </label>

  <label>
    Vendors:
    <input type="text" formControlName="vendors">
  </label>

  <label>
    Customer:
    <input type="text" formControlName="customer">
  </label>

<button>Custom data(unfinished)</button>

  <label>
    Location:
    <input type="text" formControlName="location">
  </label>

  <label>
    Add a file:
    <input type="text" formControlName="addAFile">
  </label>

  <button>Add File(unfinished)</button>

  <label>
    Add Image:
    <input type="text" formControlName="addImage">
  </label>

<button type="submit">Submit</button>

</form>