<form [formGroup]="assetForm" (ngSubmit)="onSubmit()">

  <h3>Assets</h3>
  <label>
    Add an image:
    <input type="text" formControlName="imageDrop">
  </label>

  <label>
    Title:
    <input type="text" formControlName="title">
  </label>

  <label>
    Description:
    <input type="text" formControlName="desc">
  </label>

  <label>
    Track Check-in/Check-out:
    <input type="checkbox" formControlName="trackCheckinCheckout">
  </label>

  <label>
    Model:
    <input type="text" formControlName="model">
  </label>

  <label>
    Barcode:
    <input type="text" formControlName="barcode">
  </label>

  <label>
    Category:
    <input type="text" formControlName="category">
  </label>

  <label>
    Location:
    <input type="text" formControlName="location">
  </label>

  <label>
    Area:
    <input type="text" formControlName="area">
  </label>

  <label>
    Parent Asset:
    <input type="text" formControlName="parentAsset">
  </label>

  <label>
    Worker:
    <input type="text" formControlName="worker">
  </label>

  <label>
    Additional Worker:
    <input type="text" formControlName="additionalWorker">
  </label>

  <label>
    Team:
    <input type="text" formControlName="team">
  </label>

  <label>
    Vendors:
    <input type="text" formControlName="vendors">
  </label>

  <label>
    Customers:
    <input type="text" formControlName="customers">
  </label>

  <label>
    Purchase Date:
    <input type="text" formControlName="purchaseDate">
  </label>

  <label>
    Placed in service:
    <input type="text" formControlName="placedInService">
  </label>

  <label>
    Purchase Price:
    <input type="text" formControlName="purchasePrice">
  </label>

  <label>
    Warranty Expiration:
    <input type="text" formControlName="warrantyExpiration">
  </label>

  <label>
    Residual Price:
    <input type="text" formControlName="residualPrice">
  </label>

  <label>
    Useful Life:
    <input type="text" formControlName="usefulLife">
  </label>

  <label>
    Additional Information:
    <input type="text" formControlName="additionalInformation">
  </label>

  <label>
    Add a file:
    <input type="text" formControlName="addFile">
  </label>

  <button> Add Parts(unfinished)</button>

  <button> Custom Date(unfinished)</button>

  <button type="submit">Submit</button>

</form>