<form [formGroup]="workOrderRequestForm" (ngSubmit)="onSubmit()">
  <div formGroupName="requesterInfoGroup">
    <h3>Requester Information</h3>

    <label>
      Full name:
      <input type="text" formControlName="fullName">
    </label>

    <label>
      Phone number:
      <input type="text" formControlName="phone">
    </label>

    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  </div>

  <div formGroupName="requestDetailsGroup">
    <h3>Requester Details</h3>

    <label>
      Title:
      <input type="text" formControlName="title">
    </label>

    <label>
      Description:
      <input type="text" formControlName="desc">
    </label>

    <label>
      Due Date:
      <input type="text" formControlName="dueDate">
    </label>
  </div>


  <div formGroupName="filesGroup">
    <h3>Files</h3>

    <label>
      Title:
      <input type="text" formControlName="image">
    </label>

    <label>
      Description:
      <input type="text" formControlName="file">
    </label>

  </div>
  <button type="submit">Submit</button>

</form>

<!-- <form novalidate (ngSubmit)="save()" [formGroup]="requesterInfo">
  <div formGroupName="requesterInfo">
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="fullName">Full Name</label>
      <div class="col-md-8">
        <input class="form-control" id="fullName" type="tel" placeholder="Enter your full name"
          formControlName="fullName" [ngClass]="{'is-invalid': !requesterInfo.get('fullName').valid }" />
        <span class="invalid-feedback">
          <span *ngIf="requesterInfo.get('full').errors?.required">
            Please enter your full name.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="phoneId">Phone</label>
      <div class="col-md-8">
        <input class="form-control" id="phoneId" type="tel" placeholder="Phone" formControlName="phone"
          [ngClass]="{'is-invalid': !requesterInfo.get('phone').valid }" />
        <span class="invalid-feedback">
          <span *ngIf="requesterInfo.get('phone').errors?.required">
            Please enter your phone number.
          </span>
        </span>
      </div>
    </div>


    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="emailId">Email</label>
      <div class="col-md-8">
        <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email"
          [ngClass]="{'is-invalid': emailMessage }" />
        <span class="invalid-feedback">
          {{ emailMessage }}
        </span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-2">
    <div class="offset-md-2 col-md-4">
      <button class="btn btn-primary mr-3" type="submit" style="width:80px"
        [title]="requesterInfo.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
        [disabled]="!requesterInfo.valid">
        Save
      </button>
    </div>
  </div>
</form> -->