<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  
    <h3>Locations</h3>

    <label>
      Title:
      <input type="text" formControlName="title">
    </label>

    <label>
      Address:
      <input type="text" formControlName="address">
    </label>

    <label>
      Parent Location:
      <input type="text" formControlName="parentLocation">
    </label>

    <label>
      Worker:
      <input type="text" formControlName="worker">
    </label>

    <label>
      Team:
      <input type="text" formControlName="team">
    </label>

    <label>
      Vendor:
      <input type="text" formControlName="vendor">
    </label>

    <label>
      Customer:
      <input type="text" formControlName="customer">
    </label>

    <label>
      Include map cordinates:
      <input type="checkbox" formControlName="isMapCordinate">
    </label>
  
  <button type="submit">Submit</button>

</form>