<form [formGroup]="workOrderRequestForm" (ngSubmit)="onSubmit()">
  <div formGroupName="requesterInfoGroup">
    <h3>Requests</h3>

    <label>
      Title:
      <input type="text" formControlName="title">
    </label>

    <label>
      Description:
      <input type="text" formControlName="desc">
    </label>

    <label>
      Priority:
      <input type="text" formControlName="priority">
    </label>

    <label>
      Image:
      <input type="text" formControlName="image">
    </label>





    <div class="group-gap" formArrayName="files">
      <h5 class="mb-3">Add Super Powers</h5>
      <div class="mb-3">
        <button type="button" class="btn btn-sm btn-success mb-3 btn-block" (click)="addFiles()">Add Powers</button>
        <ul class="subjectList">
          <li *ngFor="let item of addDynamicElement.controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>

</form>