<form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
  
  <h3>Add Category</h3>

  <label>
    Category Name:
    <input type="text" formControlName="categoryName">
  </label>
  
<button type="submit">Submit</button>

</form>