.example-container {
  height: 100%;
}
.sidenav-container{
  width:260px;
  background: rgb(54, 56, 57);
}
.nav-item{
  color: rgb(255, 255, 255);
  font-size: 14px;
  flex: 1 1 0%;
}
.nav-item:hover{
  background-color: rgb(76, 78, 80);
}
.content{
  padding: 10px;
}