<mat-toolbar color="success">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>





<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer class="sidenav-container" mode="side" opened role="navigation">
    <h2 style="color: aliceblue;text-align: center;">WOM</h2>
    <mat-nav-list>
      <a mat-list-item class="nav-item" routerLink='/first'>First Component</a>
      <a mat-list-item class="nav-item"routerLink='/second'>Second Component</a>
      <a mat-list-item class="nav-item"routerLink='/third'>Third Component</a>
      <a mat-list-item class="nav-item"routerLink='/fourth'>Fourth Component</a>
      <a mat-list-item class="nav-item"routerLink='/forms'>Forms</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>






<!-- <mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <a mat-list-item routerLink='/first'>First Component</a>
    <a mat-list-item routerLink='/second'>Second Component</a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
