/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.form-rightview{
    padding: 15px;
    background-color: rgb(207, 190, 190);
    position: fixed;
    right: 0;
    widows: 500px;
    height: 100%;
    overflow-y: scroll;
    
}

.form-status{
    width: 500px;;
}

app-header{
    background-color: white;
}