<div class="app-form">
  <form novalidate (ngSubmit)="createWorkOrder()" [formGroup]="workOrderForm">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" rows="5" id="description"></textarea>
    </div>

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="image">
      <label class="custom-file-label" for="image">Upload Image</label>
    </div>

    <!-- angular material datepicker -->

    <div class="input-group date">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Repeating schedule select -->
    <select class="form-control">
      <option selected>Select a schedule</option>
      <option *ngFor="let schedule of schedules" [value]="schedule" id="repeating-schedule">{{schedule}}</option>
    </select>

    <div class="form-group">
      <label for="est-duration">Estimated Duration:</label>
      <input type="text" class="form-control" id="est-duration">
    </div>

    <!-- angular material button toggle -->
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle *ngFor="let priority of priorities" value="priority">{{priority}}</mat-button-toggle>
    </mat-button-toggle-group>
    <p></p>
    <div class="form-group">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" *ngFor="let priority of priorities"
          value="priority">{{priority}}</button>
      </div>
    </div>


    <!-- angular material select -->
    <div class="form-group">
      <div class="input-group">
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- bootstrap select -->
    <select class="form-control">
      <option selected>State</option>
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>

    <button (click)="createTasks()">Add tasks</button>

  </form>
</div>